
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
    font-family: Calibri ,Arial, Helvetica, sans-serif;
  }
  


 
  li a {
      float: left;  
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  li a.active {
    background-color: #804e8c;
    color: white;
  }
  li a:hover:not(.active){
      background-color: #111;
      color: white;
  }
  .centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  .center{
      text-align: center;
      margin: auto;
      
  }


.inline{
    display: inline-block; /* Display the list items inline */
    margin-block-start:  auto;
    
    
}
.ad{
    float: right;
}

p {
  font-family: Calibri ,Arial, Helvetica, sans-serif;
}


.dropdown {
  min-width: 350px;
}

select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}