
body.index-background {
 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    overflow: hidden;
    font-family: Calibri ,Arial, Helvetica, sans-serif;
  }


 
  li a {
      float: left;  
      display: block;
      color: rgb(0, 0, 0);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  li a.active {
    background-color: #804e8c;
    color: white;
  }
  li a:hover:not(.active){
      background-color: #111;
      color: white;
  }
  .centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  .center{
      text-align: center;
      margin: auto;
      
  }


.inline{
    display: inline-block; /* Display the list items inline */
    margin-block-start:  auto;
    
    
}
.ad{
    float: right;
}

p {
  font-family: Calibri ,Arial, Helvetica, sans-serif;
}


.dropdown {
  min-width: 350px;
}

select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #ffffffc3;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #c95999;
  cursor: pointer;
}

/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #c95999;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
.block-section {
  width: 80%;
  margin: 20px auto;
}

.block-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-container img {
  max-width: 300px;
  height: auto;
  margin-right: 20px; /* Adjust the margin as needed */
}

.block-container p {
  flex: 1;
}

.block-section h2 {
  text-align: center; /* Center the headers */
}
.sidebar {
  position: fixed; /* Fix the sidebar position on the screen */
  top: 20; /* Adjust this value as needed, and make sure to add 'px' */
  left: 0; /* Adjust this value as needed */
  width: 120px; /* Set the width of the sidebar */
  height: 100%; /* Make the sidebar full height */
  background-color: #f2f2f200; /* Background color of the sidebar */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  padding-top: 20px; /* Adjust spacing from the top */
}


.sidebar a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333; /* Link color */
}

.sidebar a:hover {
  background-color: #ddd; /* Background color on hover */
}

.sidebar a.active {
  position: relative;
  background-color: #ddd; 
  color: rgb(0, 0, 0);
}

.sidebar a.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3px; 
  height: 100%;
  background-color: black;
}
